venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

**/log/*
!/log/.keep

**/*.ipynb_checkpoints/

**/tmp/*

**/nohup*

**/apex

**/data-bin

# Training
training_smi_to_iupac_name/

# Server
chem_iupac/smi_to_iupac
chem_iupac/download

chem_iupac/tmp/*
!chem_iupac/tmp/.keep

chem_iupac/opsin/*
!chem_iupac/opsin/.keep
